body {
    margin: 0;
    padding: 0;
    background-image: url("two-hearts-22854296.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 70%;
    height: 50%;
    box-sizing: border-box;
    text-align: center;
    font-family:  Arial, sans-serif;
}
input {
    padding: 10px;
    margin: 0;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid rgb(60, 53, 53);
    background-image: linear-gradient(90drg, pink);
    outline: none;
    box-shadow: 2px4px
    5px black;
    text-align: center;
    color: rgb(158, 147, 147);
    text-shadow: 1px 2px 1o red, 1px 2px 4px black;
}
input::placeholder {
    font-size: 20px;
    text-align: center;
    color: rgb(229, 140, 140);
    text-shadow: 2px 4px 5px rgb(162, 21, 21);
}
label {
    font-size: 30px;
    position: relative;
    letter-spacing: 6px;
    color: white;
    font-family:  Arial, sans-serif;
    text-shadow: 1px 2px 1o red, 1px 2px 4px black;
}
.heart {
    color: red;
    font-size: 150px;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
}
#cal {
    position: absolute;
    top: 90%;
    width: 35%;
    font-size: 20px;
    text-transform: uppercase;
    width: 30%;
    text-shadow: 2px 3px 5px red;
    color:  rgb(162, 21, 21);
}
.heart i {
    animation: heart 0.6s ease-in infinite alternate;
}

#answer {
    position: absolute;
    font-size: 55px;
    color: red;
    left: 50%;
    transform: translateX( -50%);
    text-shadow: 1px 2px 1o rgb(233, 120, 120), 1px 2px 4px black;
    color: red;
    font-family:  Arial, sans-serif;
}

@keyframes heart {
    form{
        font-size: 150px;
    }
    to {
        font-size: 140px;
    }
}